# Python virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files (macOS/Windows)
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# Large data files
# This line tells Git to ignore the entire data directory and its contents
data/
